* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

section {
  padding: 100px 8%;
}

.hero {
  min-height: 100vh;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin: 10px 0;
}

.subtitle {
  max-width: 500px;
  margin: 0 auto 30px;
  opacity: 0.8;
}

.hero button {
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  background: #6366f1;
  color: white;
  cursor: pointer;
}

.hero-img {
  width: 220px;
  margin-top: 40px;
}
/* About css */
.about-text {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  opacity: 0.85;
}

.about-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.about-info span {
  padding: 8px 16px;
  border: 1px solid #334155;
  border-radius: 20px;
  font-size: 13px;
}
/* SKill */
.skills-row {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 20px 0;
  justify-content: center;
}

.skill-pill {
  padding: 10px 22px;
  background: #1e293b;
  border-radius: 30px;
  white-space: nowrap;
  font-size: 14px;
  cursor: default;
}

.skill-pill:hover {
  background: #6366f1;
}
/* Contact Seaction */
.contact {
  background: #020617;
  text-align: center;
}

.contact p {
  margin: 20px 0;
  opacity: 0.8;
}

.contact-btn {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 30px;
  background: #6366f1;
  color: white;
  text-decoration: none;
}
/* Footer */
.footer {
  padding: 30px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border-top: 1px solid #1e293b;
}

.footer a {
  color: #e5e7eb;
  margin-left: 20px;
  opacity: 0.7;
  text-decoration: none;
}

.footer a:hover {
  opacity: 1;
}
