/* ---------- Navbar ---------- */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 1000;
  background: rgba(15, 23, 42, 0.85);
  transition: 0.3s;
}

.navbar h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Desktop links */
.nav-links {
    list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
  transition: all 0.3s;
}

.nav-links a:hover {
  opacity: 1;
  transform: scale(1.05);
  color: #6366f1;
}

/* Burger menu for mobile */
.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.burger div {
  width: 100%;
  height: 3px;
  background: #e5e7eb;
  border-radius: 2px;
  transition: 0.3s;
}

/* Animate for burger */
.burger.toggle div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.toggle div:nth-child(2) {
  opacity: 0;
}

.burger.toggle div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Sidebar overlay */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0,0,0,0.4);
  opacity: 0;             
  pointer-events: none;  
  transition: opacity 0.3s ease;
  z-index: 999;
}

.sidebar-overlay.active {
  opacity: 1;
  pointer-events: all;      
}

/* Sidebar content (left side) */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 220px;
  height: 100%;
  background: #1e293b;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  gap: 25px;
  transition: left 0.3s ease;
}

.sidebar-overlay.active .sidebar {
  left: 0;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.9;
  transition: all 0.3s;
}

.sidebar a:hover {
  color: #6366f1;
  transform: translateX(5px);
}

/*  hide desktop links, show burger */
@media (max-width: 600px) {
  .nav-links {
    display: none;
  }
}
