.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
}

.navbar a:hover {
  opacity: 1;
}
